<div class ="banner" style="background-image: url(<%= asset_path 'books.jpg' %>); background-size: cover; background-position: center; width: 100%; height: 350px;">
  <div class ="banner-container">
      <h1>Hakkımızda</h1>
  </div>
</div>

<div class="card-container">
  <div class="card border border-0">
    <div class="card-image">
      <%= image_tag "dragon.jpg", :alt => "murat erakin", width:280, height:420 %>
    </div>
    <div class="card-info mb-3">
      <p>Av. Murat Erakın</p>
    </div>
  </div>

  <div class="about-card">
    <div class ="container">
      <div class ="row">
        <div class ="col-lg-6">
          <p style="font-weight: bold">Av. Murat Erakın</p>
        </div>
        <div class ="col-lg-6">
          <p style="font-weight: bold">İletişim</p>
          <p class= "mb-0"><%= link_to "+905335180850" %></p>
          <p><%= mail_to "av.muraterakin@gmail.com" %></p>
        </div>
      </div>
      <p style="margin-top:10px">
        Erakın Hukuk Bürosu, 2018 yılında kurulmuş olup, Av Murat Erakın'ın gayrimenkul sektöründe
        uzun yıllara dayanan tecrübesiyle temelleri atılmıştır. Kuruluşundan bu yana, hukukun farklı alanlarında birey ve kurumlara
        güvenilir, etkili ve çözüm odaklı hizmetler sunmayı ilke edinmiştir.
        Büromuz, müvekkillerine yalnızca yasal süreçlerde rehberlik etmekle kalmaz,
        aynı zamanda stratejik danışmanlık anlayışıyla kalıcı çözümler üretir.
        Uzmanlık alanlarımız geniş bir yelpazeye yayılmakta olup, hem yerel hem de uluslararası düzeyde
        hukuki destek sağlanmaktadır.
      </p>
      <p>
        Büromuz; Ceza Hukuku, Gayrimenkul Hukuku, Borçlar Hukuku, İcra ve İflas Hukuku,
        Medeni Hukuk, Şirketler Hukuku, Gayrimenkul Hukuku alanlarında uzmanlaşmış olup 2018 yılından
        itibaren İstanbul'da faaliyetlerine devam etmektedir.
      </p>
      <%= link_to "< Ana Sayfa", root_path %>
    </div>
  </div>
</div>
