<div class ="banner" style="background-image: url(<%= asset_path 'bnwcolumns.jpg'  %>);">
  <div class ="banner-container">
      <h1>İletişim</h1>
  </div>
</div>

<div class="contact-container">
  <!-- Contact Info Card -->
  <div class="contact-card">
    <div class = "container">
      <div class="contact-info row">
        <h3>İstanbul Ofis | Merkez Ofis</h3>
        <div class="phone col-lg-12 mt-5">
          <p style="font-weight: bold" class = "col-lg-3">Telefon:</p>
          <%= link_to "+905335180850", class:"col-lg-9"%>
        </div>
        <div class="address">
          <p style="font-weight: bold" class = "col-lg-3">Adres:</p>
          <p class ="col-lg-9">İzzetpaşa Mah, Yeni Yol Cad, <br> No:3 Kat:3 Ofis No:3<br> Nurol Tower, Şişli/İstanbul</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Form Card -->
  <div class="contact-card">
    <div class="container">
      <div class="contact-form-info">
        <h3>İletişim Formu</h3>
        <%= form_with url: contact_path, method: :post, local: true do |f| %>
          <div class="row">
            <div class="col-lg-6">
              <%= f.label :name, "Ad-Soyad *" %>
              <%= f.text_field :name, class: "form-control", required: true %>
            </div>
            <div class="col-lg-6">
              <%= f.label :phone, "Telefon *" %>
              <%= f.telephone_field :phone, class: "form-control", required: true %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <%= f.label :email, "Email address *" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <%= f.label :message, "Mesajınız *" %>
              <%= f.text_area :message, rows: 5, class: "form-control", required: true %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <%= f.submit "Send", class: "btn btn-dark w-100" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d8507.837090487476!2d28.979266270723876!3d41.069546764203075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDA0JzAzLjkiTiAyOMKwNTknMDkuOCJF!5e0!3m2!1str!2ses!4v1757600604627!5m2!1str!2ses"
    class="map-iframe"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
