<div class ="banner" style="background-image: url(<%= asset_path 'columns.jpg'  %>);">
  <div class ="banner-container">
    <p>Uluslararası Ticaret Hukuku</p>
  </div>
</div>
<div class="field-detail">
  <div class="container">
    <div class ="row">
      <div class="col-lg-4">
        <p style="color:red; font-weight:bold">Çalışma Alanlarımız</p>
        <p class="area"><%= link_to "Ceza Hukuku", detail1_path %></p>
        <p class="area"><%= link_to "Aile Hukuku", detail2_path %></p>
        <p class="area"><%= link_to "İcra İflas Hukuku", detail3_path %></p>
        <p class="area"><%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %></p>
        <p class="area"><%= link_to "İş Hukuku", detail5_path %></p>
        <p class="area"><%= link_to "Gayrimenkul Hukuku", detail6_path %></p>
        <p class="area"><%= link_to "Şirketler Hukuku ve Kurumsal Yönetim", detail7_path %></p>
        <p class="area"><%= link_to "Rekabet Hukuku", detail8_path %></p>
        <p style="color:rgb(134,134,134)">Uluslararası Ticaret Hukuku</p>

        <div class="area-detail d-block d-lg-none">
          <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Uluslararası Ticaret Hukuku alanında verilen hizmetlerden bazıları şunlardır:</p>
          <p class="area-info"><strong>|</strong>İhracat ve ithalat sözleşmeleri hazırlanır ve incelenir. </p>
          <p class="area-info"><strong>|</strong>Gümrük mevzuatı ve dış ticaret işlemleri hakkında danışmanlık sunulur. </p>
          <p class="area-info"><strong>|</strong>Uluslararası ödeme sistemleri ve teslim şekilleri (INCOTERMS) uygulanır. </p>
          <p class="area-info"><strong>|</strong>Uluslararası ticari uyuşmazlıklarda tahkim ve arabuluculuk hizmeti verilir. </p>
          <p class="area-info"><strong>|</strong>Yabancı yatırımcıların Türkiye'deki faaliyetlerine hukuki destek sağlanır. </p>
        </div>
        <p class="area"><%= link_to "Uyuşmazlık Çözümü", detail10_path %></p>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Uluslararası Ticaret Hukuku alanında verilen hizmetlerden bazıları şunlardır:</p>
        <p class="area-info"><strong>|</strong>İhracat ve ithalat sözleşmeleri hazırlanır ve incelenir. </p>
        <p class="area-info"><strong>|</strong>Gümrük mevzuatı ve dış ticaret işlemleri hakkında danışmanlık sunulur. </p>
        <p class="area-info"><strong>|</strong>Uluslararası ödeme sistemleri ve teslim şekilleri (INCOTERMS) uygulanır. </p>
        <p class="area-info"><strong>|</strong>Uluslararası ticari uyuşmazlıklarda tahkim ve arabuluculuk hizmeti verilir. </p>
        <p class="area-info"><strong>|</strong>Yabancı yatırımcıların Türkiye'deki faaliyetlerine hukuki destek sağlanır. </p>
      </div>
    </div>
  </div>
</div>
