<div class ="banner" style="background-image: url(<%= asset_path 'columns.jpg'  %>);">
  <div class ="banner-container d-none d-md-block d-lg-block">
    <p>Rekabet Hukuku</p>
  </div>
</div>
<div class="field-detail">
  <div class="container">
    <div class ="row">
      <div class="col-lg-4">
        <p style="color:red; font-weight:bold">Çalışma Alanlarımız</p>
        <p class="area"><%= link_to "İcra İflas Hukuku", detail3_path %></p>
        <p class="area"><%= link_to "Gayrimenkul Hukuku", detail6_path %></p>
        <p class="area"><%= link_to "Şirketler Hukuku ve Kurumsal Yönetim", detail7_path %></p>
        <p class="area"><%= link_to "Uluslararası Ticaret Hukuku", detail9_path %></p>
        <p class="area"><%= link_to "Aile Hukuku", detail2_path %></p>
        <p class="area"><%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %></p>
        <p class="area"><%= link_to "Ceza Hukuku", detail1_path %></p>
        <p class="area"><%= link_to "İş Hukuku", detail5_path %></p>
        <p style="color:rgb(134,134,134)">Rekabet Hukuku</p>

        <div class="area-detail d-block d-lg-none">
          <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Rekabet Hukuku alanında verilen hizmetlerden bazıları şunlardır:</p>
          <p class="area-info"><strong>|</strong>Rekabet Kurulu nezdindeki soruşturmalara hukuki destek sağlanır. </p>
          <p class="area-info"><strong>|</strong>Haksız rekabet durumlarında dava ve şikâyet süreçleri yürütülür. </p>
          <p class="area-info"><strong>|</strong>Şirket birleşme ve devralmalarının rekabet hukuku açısından incelenmesi yapılır.</p>
          <p class="area-info"><strong>|</strong>Rekabet ihlalleri nedeniyle doğan zararların tazmini için dava açılır. </p>
          <p class="area-info"><strong>|</strong>Fiyat belirleme, pazar paylaşımı gibi eylemlerle ilgili danışmanlık sunulur. </p>
          <p class="area-info"><strong>|</strong>Rekabet hukuku ile ilgili sözleşme ve işbirliği anlaşmaları incelenir ve düzenlenir.</p>
          <p class="area-info"><strong>|</strong>Rekabet Kurulu kararlarına karşı hukuki itiraz ve temyiz süreçleri yönetilir.</p>
          <p class="area-info"><strong>|</strong>Şirketlerin rekabet politikaları ve uygulamaları için hukuki risk analizi yapılır.</p>
          <p class="area-info"><strong>|</strong>Ulusal ve uluslararası rekabet mevzuatı çerçevesinde danışmanlık ve strateji önerileri sunulur.</p>
          <p class="area-info"><strong>|</strong>Haksız rekabet ve piyasa ihlallerine karşı savunma ve çözüm yolları sağlanır.</p>

        </div>

        <p class="area"><%= link_to "Uyuşmazlık Çözümü", detail10_path %></p>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Rekabet Hukuku alanında verilen hizmetlerden bazıları şunlardır:</p>
        <p class="area-info"><strong>|</strong>Rekabet Kurulu nezdindeki soruşturmalara hukuki destek sağlanır. </p>
        <p class="area-info"><strong>|</strong>Haksız rekabet durumlarında dava ve şikâyet süreçleri yürütülür. </p>
        <p class="area-info"><strong>|</strong>Şirket birleşme ve devralmalarının rekabet hukuku açısından incelenmesi yapılır.</p>
        <p class="area-info"><strong>|</strong>Rekabet ihlalleri nedeniyle doğan zararların tazmini için dava açılır. </p>
        <p class="area-info"><strong>|</strong>Fiyat belirleme, pazar paylaşımı gibi eylemlerle ilgili danışmanlık sunulur. </p>
        <p class="area-info"><strong>|</strong>Rekabet hukuku ile ilgili sözleşme ve işbirliği anlaşmaları incelenir ve düzenlenir.</p>
        <p class="area-info"><strong>|</strong>Rekabet Kurulu kararlarına karşı hukuki itiraz ve temyiz süreçleri yönetilir.</p>
        <p class="area-info"><strong>|</strong>Şirketlerin rekabet politikaları ve uygulamaları için hukuki risk analizi yapılır.</p>
        <p class="area-info"><strong>|</strong>Ulusal ve uluslararası rekabet mevzuatı çerçevesinde danışmanlık ve strateji önerileri sunulur.</p>
        <p class="area-info"><strong>|</strong>Haksız rekabet ve piyasa ihlallerine karşı savunma ve çözüm yolları sağlanır.</p>
      </div>
    </div>
  </div>
</div>
