<div class ="banner" style="background-image: url(<%= asset_path 'columns.jpg'  %>);">
  <div class ="banner-container d-none d-md-block d-lg-block">
    <p>Aile Hukuku</p>
  </div>
</div>
<div class="field-detail">
  <div class="container">
    <div class ="row">
      <div class="col-lg-4">
        <p style="color:red; font-weight:bold">Çalışma Alanlarımız</p>
        <p class="area"><%= link_to "İcra İflas Hukuku", detail3_path %></p>
        <p class="area"><%= link_to "Gayrimenkul Hukuku", detail6_path %></p>
        <p class="area"><%= link_to "Şirketler Hukuku ve Kurumsal Yönetim", detail7_path %></p>
        <p class="area"><%= link_to "Uluslararası Ticaret Hukuku", detail9_path %></p>
        <p style="color:rgb(134,134,134)">Aile Hukuku</p>

        <div class="area-detail d-block d-lg-none">
          <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Aile Hukuku alanında verilen hizmetlerden bazıları şunlardır:</p>
          <p class="area-info"><strong>|</strong>Boşanma, nafaka, velayet ve mal paylaşımı davalarında temsil sağlanır. </p>
          <p class="area-info"><strong>|</strong>Evlat edinme ve soybağına ilişkin işlemler yürütülür. </p>
          <p class="area-info"><strong>|</strong>Evlenmeden önce veya sonra mal rejimi sözleşmeleri hazırlanır.</p>
          <p class="area-info"><strong>|</strong>Aile içi şiddet durumlarında koruma kararları alınmasına destek verilir.</p>
          <p class="area-info"><strong>|</strong>Ortak velayet, çocukla kişisel ilişki kurulması gibi konularda danışmanlık sunulur.</p>
        </div>

        <p class="area"><%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %></p>
        <p class="area"><%= link_to "Ceza Hukuku", detail1_path %></p>
        <p class="area"><%= link_to "İş Hukuku", detail5_path %></p>
        <p class="area"><%= link_to "Rekabet Hukuku", detail8_path %></p>
        <p class="area"><%= link_to "Uyuşmazlık Çözümü", detail10_path %></p>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Aile Hukuku alanında verilen hizmetlerden bazıları şunlardır:</p>
        <p class="area-info"><strong>|</strong>Boşanma, nafaka, velayet ve mal paylaşımı davalarında temsil sağlanır. </p>
        <p class="area-info"><strong>|</strong>Evlat edinme ve soybağına ilişkin işlemler yürütülür. </p>
        <p class="area-info"><strong>|</strong>Evlenmeden önce veya sonra mal rejimi sözleşmeleri hazırlanır.</p>
        <p class="area-info"><strong>|</strong>Aile içi şiddet durumlarında koruma kararları alınmasına destek verilir.</p>
        <p class="area-info"><strong>|</strong>Ortak velayet, çocukla kişisel ilişki kurulması gibi konularda danışmanlık sunulur.</p>
      </div>
    </div>
  </div>
</div>
