<div class ="banner" style="background-image: url(<%= asset_path 'columns.jpg'  %>);">
  <div class ="banner-container">
    <p>Şirketler Hukuku ve Kurumsal Yönetim</p>
  </div>
</div>
<div class="field-detail">
  <div class="container" style="margin-top:300px">
    <div class ="row">
      <div class="col-lg-4">
        <p style="color:red; font-weight:bold">Çalışma Alanlarımız</p>
        <p class="area"><%= link_to "Ceza Hukuku", detail1_path %></p>
        <p class="area"><%= link_to "Aile Hukuku", detail2_path %></p>
        <p class="area"><%= link_to "İcra İflas Hukuku", detail3_path %></p>
        <p class="area"><%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %></p>
        <p class="area"><%= link_to "İş Hukuku", detail5_path %></p>
        <p class="area"><%= link_to "Gayrimenkul Hukuku", detail6_path %></p>
        <p style="color:rgb(134,134,134)">Şirketler Hukuku ve Kurumsal Yönetim</p>
        <p class="area"><%= link_to "Rekabet Hukuku", detail8_path %></p>
        <p class="area"><%= link_to "Uluslararası Ticaret Hukuku", detail9_path %></p>
        <p class="area"><%= link_to "Uyuşmazlık Çözümü", detail10_path %></p>
      </div>
      <div class="col-lg-8">
        <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Şirketler Hukuku ve Kurumsal Yönetim alanında verilen hizmetlerden bazıları şunlardır:</p>
        <p class="area-info"><strong>|</strong>Şirket kuruluş işlemleri gerçekleştirilir ve ticaret sicili süreçleri yürütülür.</p>
        <p class="area-info"><strong>|</strong>Genel kurul ve yönetim kurulu toplantıları için danışmanlık sunulur. </p>
        <p class="area-info"><strong>|</strong>Hisse devirleri ve ortaklık sözleşmeleri hazırlanır. </p>
        <p class="area-info"><strong>|</strong>Kurumsal yönetim ilkelerine uygunluk denetimi yapılır. </p>
        <p class="area-info"><strong>|</strong>Şirket birleşmeleri, bölünmeleri ve tasfiyeleri yönetilir. </p>
      </div>
    </div>
  </div>
</div>
