<div class ="banner" style="background-image: url(<%= asset_path 'columns.jpg'  %>);">
  <div class ="banner-container">
    <p>Uyuşmazlık Çözümü</p>
  </div>
</div>
<div class="field-detail">
  <div class="container" style="margin-top: 350px; margin-bottom: 40px;">
    <div class ="row">
      <div class="col-lg-4">
        <p style="color:red; font-weight:bold">Çalışma Alanlarımız</p>
        <p class="area"><%= link_to "Ceza Hukuku", detail1_path %></p>
        <p class="area"><%= link_to "Aile Hukuku", detail2_path %></p>
        <p class="area"><%= link_to "İcra İflas Hukuku", detail3_path %></p>
        <p class="area"><%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %></p>
        <p class="area"><%= link_to "İş Hukuku", detail5_path %></p>
        <p class="area"><%= link_to "Gayrimenkul Hukuku", detail6_path %></p>
        <p class="area"><%= link_to "Şirketler Hukuku ve Kurumsal Yönetim", detail7_path %></p>
        <p class="area"><%= link_to "Rekabet Hukuku", detail8_path %></p>
        <p class="area"><%= link_to "Uluslararası Ticaret Hukuku", detail9_path %></p>
        <p style="color:rgb(134,134,134)">Uyuşmazlık Çözümü</p>

        <div class="area-detail d-block d-lg-none">
          <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Uyuşmazlık Çözümü alanında verilen hizmetlerden bazıları şunlardır:</p>
          <p class="area-info"><strong>|</strong>Hukuki ihtilaflarda dava öncesi strateji belirlenir ve risk analizi yapılır. </p>
          <p class="area-info"><strong>|</strong>Mahkeme nezdinde dava açma ve takibi süreçleri yürütülür. </p>
          <p class="area-info"><strong>|</strong>Arabuluculuk ve tahkim gibi alternatif çözüm yolları uygulanır. </p>
          <p class="area-info"><strong>|</strong>Karşı tarafla uzlaşma görüşmeleri yapılır ve protokoller hazırlanır. </p>
          <p class="area-info"><strong>|</strong>Mahkeme kararlarının icrası ve temyiz başvuruları gerçekleştirilir. </p>
        </div>

      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <p style="font-weight:bold">Erakın Hukuk Bürosu tarafından Uyuşmazlık Çözümü alanında verilen hizmetlerden bazıları şunlardır:</p>
        <p class="area-info"><strong>|</strong>Hukuki ihtilaflarda dava öncesi strateji belirlenir ve risk analizi yapılır. </p>
        <p class="area-info"><strong>|</strong>Mahkeme nezdinde dava açma ve takibi süreçleri yürütülür. </p>
        <p class="area-info"><strong>|</strong>Arabuluculuk ve tahkim gibi alternatif çözüm yolları uygulanır. </p>
        <p class="area-info"><strong>|</strong>Karşı tarafla uzlaşma görüşmeleri yapılır ve protokoller hazırlanır. </p>
        <p class="area-info"><strong>|</strong>Mahkeme kararlarının icrası ve temyiz başvuruları gerçekleştirilir. </p>
      </div>
    </div>
  </div>
</div>
