<div class ="banner" style="background-image: url(<%= asset_path 'library.jpg'  %>); background-size: cover; background-position: center; width: 100%; height:350;">
  <div class ="banner-container">
      <h1>Çalışma Alanlarımız</h1>
  </div>
</div>

<div class="detail-section">
  <p>Hizmetlerimiz hakkında daha fazla bilgi almak için tıklayınız.</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <ul class="section-left">
          <li class="area">
            <%= link_to "Ceza Hukuku", detail1_path %>
          </li>
          <li class="area">
            <%= link_to "Aile Hukuku", detail2_path %>
          </li>
          <li class="area">
            <%= link_to "İcra İflas Hukuku", detail3_path %>
          </li>
          <li class="area">
            <%= link_to "Şirketler Hukuku ve Kurumsal Yönetim", detail7_path %>
          </li>
          <li class="area">
            <%= link_to "Rekabet Hukuku", detail8_path %>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="section-right">
          <li class="area">
            <%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %>
          </li>
          <li class="area">
            <%= link_to "İş ve Sosyal Güvenlik Hukuku", detail5_path %>
          </li>
          <li class="area">
            <%= link_to "Gayrimenkul Hukuku", detail6_path %>
          </li>
          <li class="area">
            <%= link_to "Uluslararası Ticaret Hukuku", detail9_path %>
          </li>
          <li class="area">
            <%= link_to "Uyuşmazlık Çözümü", detail10_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
