<div class ="banner" style="background-image: url(https://images.unsplash.com/photo-1684602249422-590216595915?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80)", height:350;>
  <div class ="banner-container">
      <h1>Çalışma Alanlarımız</h1>
  </div>
</div>

<div class="detail-section">
  <p>Hizmetlerimiz hakkında daha fazla bilgi almak için tıklayınız.</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <ul class="section-left">
          <li class="area">
            <%= link_to "Ceza Hukuku", detail1_path %>
          </li>
          <li class="area">
            <%= link_to "Aile Hukuku", detail2_path %>
          </li>
          <li class="area">
            <%= link_to "İcra İflas Hukuku", detail3_path %>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="section-right">
          <li class="area">
            <%= link_to "Yabancılar ve Vatandaşlık Hukuku", detail4_path %>
          </li>
          <li class="area">
            <%= link_to "İş Hukuku", detail5_path %>
          </li>
          <li class="area">
            <%= link_to "Gayrimenkul Hukuku", detail6_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
