<!DOCTYPE html>
<html>
  <head>
    <title>Avukat Murat Erakın</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon-96x96.png", rel: "icon", type: "image/png" %>
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
  </head>

  <body>
    <% unless controller_name == "errors" %>
      <%= render "shared/navbar" %>
    <% end %>
    <main>
      <% flash.each do |type, message| %>
        <div class="flash-message" style="
            position: fixed;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1050;
            background: <%= type == 'notice' ? '#d4edda' : '#f8d7da' %>;
            color: <%= type == 'notice' ? '#155724' : '#721c24' %>;
            padding: 15px 30px;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            ">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <% unless controller_name == "errors" %>
      <%= render "shared/footer" %>
    <% end %>
    <script>
      console.log("%cHey there, curious developer! 👋\nThis awesome website was crafted by Ayse Gungormez – https://github.com/aysegun", "color: #555555; font-weight: bold; font-size: 12px;");

       // Flash auto-hide after 5 seconds
      document.addEventListener("DOMContentLoaded", () => {
        const flashes = document.querySelectorAll(".flash-message");
        flashes.forEach(flash => {
          setTimeout(() => {
            flash.style.transition = "opacity 0.5s ease";
            flash.style.opacity = "0";
            setTimeout(() => flash.remove(), 500); // remove after fade
          }, 3000); // 5 seconds
        });
      });
    </script>
  </body>
</html>
