<!DOCTYPE html>
<html>
  <head>
    <title>Avukat Murat Erakın</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script> %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&callback=dispatchMapsEvent"
                                                                   %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon2.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <%# <% unless action_name = "errors" %>
    <%= render "shared/navbar" %>
    <%# <% end %>
    <%= yield %>
    <%# <% unless action_name == "errors" %>
    <%= render "shared/footer" %>
    <%# <% end %>
  </body>
</html>
